{% extends "../../main.html.twig" %}
{% block main %}
	<main>


		<div class="container">
			<div class="row ">
				<form class="col-md-6 mx-auto p-3 my-5 bg-light rounded" method="post" action="nouvelleEvenement">
					<h3 class="text-primary">Organises une sortie</h1>
					<hr class="m-0">
					{% for err in errors %}
						<p class="text-danger">{{err}}</p>
					{% endfor %}

					<div class="mt-2">
						<label for="startDate">Date de départ</label>
						<input type="date" class="form-control" id="startDate" name="startDate" placeholder="" value="">
					</div>
					<div class="mt-2">
						<label for="hour">Heure de départ</label>
						<input type="time" class="form-control" id="hour" name="hour" placeholder="" value="">
					</div>
					<div class="mt-2">
						<label for="endDAte">Date de retour</label>
						<input type="date" class="form-control" id="endDate" name="endDate" placeholder="" value="">
					</div>
					<div class="mt-2">
						<label for="departureLocation">Lieu de départ</label>
						<input type="text" class="form-control" id="departureLocation" name="departureLocation" placeholder="" value="">
					</div>
					<div class="mt-2">
						<label for="backLocation">Lieu de retour</label>
						<input type="mail" class="form-control" id="backLocation" name="backLocation" placeholder="" value="">
					</div>
					<div class="mt-2">
						<label for="step">Etape</label>
						<input type="text" class="form-control" id="step" name="step" placeholder="" value="">
					</div>
					<div class="row mt-2 mb-2">
						<div>
							<input type="radio" id="pepere" name="type" value="pepere">
							<label for="pepere">Pépère</label>
						</div>
						<div>
							<input type="radio" id="normal" name="type" value="normal">
							<label for="normal">Normal</label>
						</div>
						<div>
							<input type="radio" id="gaz" name="type" value="gaz">
							<label for="gaz">GazzZ</label>
						</div>
					</div>
					<div class="mt-2">
						<label for="title">Titre</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="" value="">
					</div>
					<div class="mt-2">
						<label for="description">Description</label>
						<input type="textera" class="form-control" id="description" name="description" placeholder="" value="">
					</div>
					<button type="submit" class="btn btn-primary mt-2">Valider</button>
				</form>
			</div>
		</div>
	</main>
{% endblock %}
