<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>
  <header class="d-flex justify-content-between align-items-center border-bottom shadow">
    <a href="/" class="col-1 p-3 d-flex  text-dark text-decoration-none">
      <img class="col-7" src="./../../../assets/pictures/logo-weride.png" alt="logo_weride">
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/inscription" class="nav-link text-secondary">Inscription</a></li>
      <li class="nav-item"><a href="/connexion" class="nav-link text-secondary">Connexion</a></li>
    </ul>
  </header>
  <main class=""
    style="background: url('./../../../assets/pictures/bg.png');background-size: cover; background-repeat: no-repeat;">

    <div class="text-center">
      <h1 class="py-5">Le loup solidaire</h1>
      <p>Pourquoi te balader seul alors que tu peux le faire à plusieurs?</p>
      <p>WeRide te permets d’organiser des balades en bécanes en compagnies des motards de ta région.</p>
    </div>

    <div class="row col-8 mx-auto text-center ">
      <div class="col-4 bg-light p-0 mx-auto my-3 text-success rounded">
        <img class="col-12 rounded" src="./../../../assets/pictures/map.jpg" alt="image_map">
        <h2 class="p-4 m-0">Organise ta balade en plannifiant ton itinéraire</h2>
      </div>
      <div class="col-4 bg-light p-0 mx-auto my-3 text-success rounded">
        <img class="col-12 rounded" src="./../../../assets/pictures/gestion.png" alt="image_map">
        <h2 class="p-4 m-0">Maitrise ton budget pour chacune de tes sorties</h2>
      </div>
    </div>
    <div class="row col-8 mx-auto text-center ">
      <div class="col-4 bg-light p-0 mx-auto my-3 text-success rounded">
        <img class="col-12 rounded" src="./../../../assets/pictures/motard.jpg" alt="image_map">
        <h2 class="p-4 m-0">Frimmes et postes tes plus belles photos</h2>
      </div>
      <div class="col-4 bg-light p-0 mx-auto my-3 text-success rounded">
        <img class="col-12 rounded" src="./../../../assets/pictures/group.jpg" alt="image_map">
        <h2 class="p-4 m-0">Avales l'asphalte avec un max de potes motards</h2>
      </div>
    </div>
  </main>
  <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      </a>
      <span class="text-muted">© 2021 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3 "><a class="text-muted " href="#">e</a></li>
      <li class="ms-3"><a class="text-muted" href="#">e</a></li>
      <li class="ms-3"><a class="text-muted" href="#">e</a></li>
    </ul>
  </footer>
</body>

</html>